@tailwind base;
@tailwind components;
@tailwind utilities;

/* .logo{
    height: 100px;
    width:100px;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.nav-list{
    display: flex;
    list-style: none;
    margin-right:20px;
}

.nav-list > li{
    padding:0px 20px;
}

.res-card{
    width:200px;
    margin:10px;
    cursor: pointer;
    background-color: beige;
    padding:5px 5px;
}

.res-card:hover{
    border:1px solid grey;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.res-img{
    width:100%;
    height:50%;
}

.search{
    padding:10px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    height:200px;
    width: 200px;
    margin:20px;
    background-color: #f0f0f0;
}

.search{
    display: flex;
    column-gap: 5px;
} */